.homePage {
  .mainHeading {
    padding-top: 60px;
    padding-left: 60px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 60px;
  }
  .otherText {
    padding: 0 60px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 80px;
  }
}
