.homePage {
  margin-top: 110px;
  font-family: 'Rajdhani', sans-serif;
 

  .mainHeading {
    padding-left: 3.75rem;
    font-weight: 500;
    font-size: 3.75rem;
  }
  .otherText {
    padding: 0 3.75rem;
    font-weight: 300;
    font-size: 1.4375rem;
    margin-bottom: 120px;
  }
}
