.card {
  text-align: center;
  display: grid;
  padding: 3rem 60px;
  justify-content: center;
  align-items: center;
  .image-holder {
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      display: block;
      object-fit: cover;
      padding-bottom: 10px;
    }
  }
  .product-name {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
  }
  li {
    text-align: center;
    list-style: none;
  }
  .product-price {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
  }
  .btns {
    justify-content: center;
    align-items: center;
    padding: 10px;
    button {
      font-family: 'Rajdhani', sans-serif;
      font-weight: 400;
      font-size: 16px;
      height: 30px;
      width: 150px;
      padding: 5px 0;
      border: none;
      outline: none;
      background-color: rgb(196, 196, 196);
      cursor: pointer;
      transition: background-color 0.3s ease;
      align-items: center;
    }
    button:hover {
      background-color: whitesmoke;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    justify-content: center;
    align-items: center;
  }
}
