.app h1 {
  font-weight: 400;
  font-family: 'Waterfall', cursive;
  font-size: 45px;
  // line-height: 3.5em;
  padding-bottom: 12px;
  background: whitesmoke;
  background-color: transparent;
}

.app {
  .expand {
    transition: all ease-in-out 0.3s;
    right: 0;
  }
  .shrink {
    transition: all ease-in-out 0.3s;
    right: -400px;
  }
  .disable {
    // background-attachment: fixed;
    overflow: hidden;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    row-gap: 30px;
    padding: 3rem 0;
    grid-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
  }
}
